<div class="header">
    <h1>My Profile</h1>
    <a href="#" class="header-button header-button-left header-back-button">
        <button>Back</button>
    </a>
    <a href="#" class="header-button header-button-icon header-button-right search" id="view-home-refresh">
        <button>
            <img src="css/images/refresh-icon.png" alt="Refresh" width="14" height="18"></button></a>
</div>

<div id="content-wrapper">
    <div class="profile"><%= username %> : <%= name %> : <%= email %> </div>
    <h2>Sent</h2>
    <div class="thankyous-sent"></div>
    <h2>Received</h2>
    <div class="thankyous-received"></div>
</div>
